@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');

body{
        font-family: 'Oswald', sans-serif;
}
.bg-color{
    background: url(../images/bg.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white
}
.brand-logo{
    width: 250px;
}
.mt-50{
    margin-top: 50px;
}
.mt-20{
    margin-top: 20px;
}
.title{
    color: white
}
.text-ce{
    text-align: left
}
.pull-right{
    float: left;
    padding-left: 15px;
    font-weight: 400
}
.mg-20{
    margin-top: 20px;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.mb30{
    margin-bottom: 30px;
}

.bg-grey{
    background: #eee;
}
.bg-grey img{
    border-radius: 20px
}
.bg{
    background: #282828;
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
    color: white
}

@media screen and (max-width:768px){
    .text-ce{
        text-align: center
    }
}